body {
    margin: 0 auto;
}

.card-wrapper {
    margin: 0 auto;
    width: 200px;
    height: 400px;
    background-color: grey;
    float: left;
}

.card-wrapper.two {
    float: right;
}

.health-bar {
    width: 190px;
    height: 20px;
    background-color:cornsilk;
    margin: 5px 10px 5px 5px;
    position: relative;
}

.stamina-bar {
    width: 190px;
    height: 20px;
    background-color: cornsilk;
    margin: 5px 5px 5px 5px;
    position: relative;
}

.health-inner {
    background-color: blueviolet;
}

.stamina-inner {
    background-color: greenyellow;
}

.avatar-block {
    width: 190px;
    height: 340px;
    background-image: url(img/hunter.jpg);
    background-position: center;
    background-size: cover;
    margin: 10px 5px 5px 5px;
}

.avatar-block.two {
    background-image: url(img/logarius.jpg);
}

.inner {
    position: absolute; 
    width: 100%;
    height: 100%;
}
